:root {
    --clr-main: #1a1a1a;
    --clr-light: #f1f5f9;
    --clr-slate500: #64748b;
    --clr-slate700: #334155;
    --clr-slate800: #1e293b;
    --clr-teal700: #0f766e;
    --clr--emerald600: #059669;
    --clr-emerald400: #34d399;
    --clr-green400: rgb(74, 222, 128);
    --clr-greenmain: rgb(118, 161, 142);
    /* flex basis sizing  */

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


.footer__title {
    font-size: var(--size-base);
    font-weight: 400;
    color: var(--clr-slate500);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    user-select: none;
}